{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '\images' %}">
    <link rel="stylesheet" href="{% static 'css\customer.css' %}">
    <script src="{% static 'js/script.js' %}"></script>

   
    <title>Customer Details</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      body {
            font-family: 'Roboto', sans-serif;
            background-color: #f0fbff;
            color: #333;
        }
        .main-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            padding: 20px;

        }
        .card-registration {
            border-radius: 15px;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(255, 255, 255 );
            width: 100%;
            max-width: 800px;
             margin-top: 70px;
        }
        h3 {
            text-align: center;
            font-family: 'Playfair Display', serif;
            font-weight: 900;
            color: #03AED2;
            margin-bottom: 30px;
        }
        h6 {
            font-family: 'Playfair Display', serif;
            margin-bottom: 20px;
            color: #007a99;
            text-align: center;
        }
        .form-outline input {
            border-radius: 10px;
            border: 1px solid #b2e4ef;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            padding: 12px;
        }
        .form-outline input:focus {
            border-color: #03AED2;
            outline: none;
            box-shadow: 0 0 8px rgba(3, 174, 210, 0.2);
        }
        .btn-info {
            background-color: #03AED2;
            border: none;
            border-radius: 8px;
            padding: 10px 20px;
            transition: background-color 0.3s, box-shadow 0.3s;
            width: 150px;
        }
        .btn-info:hover {
            background-color: #027994;
            box-shadow: 0 4px 15px rgba(3, 174, 210, 0.4);
        }
        .container {
            margin-top: 30px;
        }
        .card-body {
            padding: 40px;
        }

        @media (max-width: 768px) {
            .main-container{
                margin-top: 30px;
            }
            .card {
                margin-left: 0;

                max-width: 100%;
                padding: 20px; /* Add some padding for better appearance */
            }

            .open-sidebar .card {
                margin-left: 300px; /* Adjust content when sidebar is open */
            }
            .card-registration {
         
               margin-top: 50px !important;
          }

        }
        
    </style>
    
</head>
<body>
  {% include 'sidebar.html' %}

  <div class="main-container">
    <div class="card shadow-2-strong card-registration">
        <div class="card-body p-4">
          <span onclick="window.location.href='/index'" style="float: left; cursor: pointer; color:rgb(75, 162, 255); font-size:20px;" class="mb-4"><i class="fas fa-house-chimney"></i></span>
          <span onclick="goBackAndRefresh()" style="float: right; cursor: pointer; color:red; font-size:20px;" class="mb-4">X</span>
        
            <h3  style="  margin-top: 5px;" class="mb-4 mt-3">Customer Details</h3>
            {% for x in data %}
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div data-mdb-input-init class="form-outline">
                          <label>First Name <span class="star">*</span></label>
                            <input type="text" id="firstName" class="form-control form-control-lg" placeholder="First Name" name="ufirstname" value="{{ x.firstname }}" />
                        </div>
                        
      
                      </div>

                      <div class="col-md-6 mb-4">
      
                        <div data-mdb-input-init class="form-outline">
                          <label>Last Name <span class="star">*</span></label>
                            <input type="text" id="firstName" class="form-control form-control-lg" placeholder="Last Name" name="ulastname" value="{{ x.lastname }}" />
                        </div>
                        
      
                      </div>
                      
                    </div>
      
                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>Primary Email <span class="star">*</span></label>

                              <input type="email" id="firstName" class="form-control form-control-lg" placeholder="Primary Email" name="uprimaryemail" value="{{ x.primaryemail }}"/>
                          </div>
        
                        </div>
  
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>Secondary Email <span class="star">*</span></label>

                              <input type="email" id="firstName" class="form-control form-control-lg" placeholder="Secondary Email" name="usecondaryemail" value="{{ x.secondaryemail }}"/>
                          </div>
                          
        
                        </div>
                        
                      </div>

                    
                      

                      <div class="row">
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>Primary Contact No <span class="star">*</span></label>
                              <input type="number" id="firstName" class="form-control form-control-lg" placeholder="Primary Contact No" name="uprimarycontact" value="{{ x.primarycontact }}"/>
                          </div>
        
                        </div>
  
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>Secondary Contact No<span class="star">*</span></label>
                              <input type="number" id="firstName" class="form-control form-control-lg" placeholder="Secondary Contact No" name="usecondarycontact" value="{{ x.secondarycontact }}" />
                          </div>
                          
        
                        </div>
                        
                      </div>




                      <div class="row">
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>Contact Person Name<span class="star">*</span></label>
                              <input type="text" id="firstName" class="form-control form-control-lg" placeholder=" Contact person name" name="ucontactperson" value="{{ x.contactperson }}"/>
                          </div>
        
                        </div>
  
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>Designation<span class="star">*</span></label>
                              <input type="text" id="firstName" class="form-control form-control-lg" placeholder="Designation" name="ucustomersegment" value="{{ x.customersegment }}" />
                          </div>
                          
        
                        </div>
                        
                      </div>


                      <!-- -----------------------Shift to party------------------------------ -->



                      <h6 style="text-align: center;">Shift To Party</h6>
                      <div class="row">
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>Shift To Party Address<span class="star">*</span></label>
                              <input type="text" id="firstName" class="form-control form-control-lg" placeholder=" Shift To Party Address" name="ushifttopartyaddress" value="{{ shifttopartyaddress }}"/>
                          </div>
        
                        </div>
  
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>City<span class="star">*</span></label>
                              <input type="text" id="firstName" class="form-control form-control-lg" placeholder="City" name="ushifttopartycity" value="{{ x.shifttopartycity }}" />
                          </div>
                          
        
                        </div>
                        
                      </div>



                      
                      <div class="row">
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>State / Province<span class="star">*</span></label>
                              <input type="text" id="firstName" class="form-control form-control-lg" placeholder="State / Province" name="ushifttopartystate" value="{{ x.shifttopartystate }}"/>
                          </div>
        
                        </div>
  
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>Postal / Zip Code<span class="star">*</span></label>
                              <input type="text" id="firstName" class="form-control form-control-lg" placeholder="Postal / Zip Code" name="ushifttopartypostal" value="{{ x.shifttopartypostal }}" />
                          </div>
                          
        
                        </div>
                        
                      </div>
      
                  
      
                      <!-- -----------------------Sold to party------------------------------ -->

                      <h6 style="text-align: center;">Sold To Party</h6>
                      <div class="row">
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>Sold To Party Address<span class="star">*</span></label>
                              <input type="text" id="firstName" class="form-control form-control-lg" placeholder=" Sold To Party Address" name="usoldtopartyaddress" value="{{ x.soldtopartyaddress }}"/>
                          </div>
        
                        </div>
  
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>City<span class="star">*</span></label>
                              <input type="text" id="firstName" class="form-control form-control-lg" placeholder="City" name="usoldtopartycity" value="{{ x.soldtopartycity }}" />
                          </div>
                          
        
                        </div>
                        
                      </div>



                      
                      <div class="row">
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>State / Province<span class="star">*</span></label>
                              <input type="text" id="firstName" class="form-control form-control-lg" placeholder="State / Province" name="usoldtopartystate" value="{{ x.soldtopartystate }}"/>
                          </div>
        
                        </div>
  
                        <div class="col-md-6 mb-4">
        
                          <div data-mdb-input-init class="form-outline">
                          <label>Postal / Zip Code<span class="star">*</span></label>
                              <input type="text" id="firstName" class="form-control form-control-lg" placeholder="Postal / Zip Code" name="usoldtopartypostal" value="{{ x.soldtopartypostal }}" />
                          </div>
                          
        
                        </div>
                        
                      </div>
      
                  

                      <div class="mt-4 pt-2 text-center" style="font-family: 'Playfair Display', serif;color:antiquewhite;">
                        <input class="btn btn-info btn-lg" type="submit" name="submit" value="Submit" />
                    </div>
                    <div class="col-md-12"> 
                        <p style="color: red; text-align: center;">{{msg1}}</p>
                       
                     </div>
                  </form>
                  {% endfor %}
            </div>
      </div>
  </div>          


    

<script>
    document.addEventListener("DOMContentLoaded", function() {
            const menuItems = document.querySelectorAll('.sidebar ul li.has-submenu');
            menuItems.forEach(item => {
                item.addEventListener('click', function() {
                    const submenu = this.querySelector('.submenu');
                    const arrow = this.querySelector('.arrow-down');
                    
                    // Hide all other submenus
                    menuItems.forEach(otherItem => {
                        if (otherItem !== this) {
                            const otherSubmenu = otherItem.querySelector('.submenu');
                            const otherArrow = otherItem.querySelector('.arrow-down');
                            if (otherSubmenu) {
                                otherSubmenu.style.display = 'none';
                                if (otherArrow.classList.contains('arrow-up')) {
                                    otherArrow.classList.remove('arrow-up');
                                }
                            }
                        }
                    });

                    // Toggle current submenu
                    if (submenu) {
                        submenu.style.display = (submenu.style.display === 'block' ? 'none' : 'block');
                        arrow.classList.toggle('arrow-up');
                    }
                });
            });
        });
</script>
<div class="container-fluid footer  " style="background-color: #f7f7f7; width:100%; margin-top:200px;">
  <div class="row p-3">
      <div class="col-md-12 text-center"> <p style="margin: 0; font-weight: 600; word-wrap: break-word;color:#000000">
          © 2025. Powered by
          <img src="{% static 'images/crono.png' %}" alt="Chronoanalytics Logo"
              style="height: 20px; vertical-align: middle;">
          <a href="http://www.chronoanalytics.in/"
              style="text-decoration: none;  background: linear-gradient(to right, #2575fc, #6a11cb);-webkit-background-clip: text;-webkit-text-fill-color: transparent; font-size: 1.1rem;">Chronoanalytics
              Solution</a>
          All Rights Reserved.
      </p>
    </div>
      <div class="col-md-12 text-center">  <p style="font-weight: 600; word-wrap: break-word;color:#000000 ">
          © 2025. Marketed by
          <img src="{% static 'images/TeimLogo.png' %}" alt="Teim Logo" style="height: 20px; vertical-align: middle;">
          <a href="http://teim.in/" style="text-decoration: none;  background: linear-gradient(to right, #2575fc, #6a11cb); /* Gradient definition */
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; font-size: 1.1rem;">TEIM</a>
          All Rights Reserved.
      </p></div>
  </div>
</div>

</body>
</html>